{% extends "admin/base_site.html" %} 
{% load static %} 
{% load i18n admin_urls %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/dashboard.css " %}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.css" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.2.0/fullcalendar.min.js"></script>
<style>
.dashboard #content {
    width: 70%;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
        locale: 'es',
        selectable: true,
        eventLimit: true,
        editable: true,
        navLinks: true,
        allDaySlot: false,
        selectOverlap: false,
        slotEventOverlap: false,
        selectHelper: true,
        defaultView: 'agendaWeek',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'agendaDay,agendaWeek,listWeek,listDay,listMonth',
        },
        buttonText: {
            today: 'Hoy',
            week: 'Semana',
            day: 'Día',
            listDay: 'Lista dia',
            listWeek: 'Lista semana',
            listMonth: 'Lista mes',
            listYear: 'Lista año',
        },
        eventClick: function(calEvent, jsEvent, view) {
            if (calEvent.isOwner) {
                if (confirm("¿Quieres eliminar?")) {
                    $.ajax({
                            url: '/cp/eventos/',
                            type: 'post',
                            dataType: 'json',
                            data: {
                                id: calEvent.id
                            },
                        })
                        .done(function() {
                            console.log("success");
                        })
                        .fail(function(eee) {
                            console.log("error");
                        })
                        .always(function(ccc) {
                            if ("OK" == ccc) {
                                $('#calendar').fullCalendar('removeEvents', function(event) {
                                    return event == calEvent;
                                });
                            }
                        });
                }
            }
        },
        select: function(start, end) {
            if (confirm("¿Estas seguro que deseas separar ese horario?")) {
                $.ajax({
                    url: '/cp/eventos/',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        start: moment(start).format("YYYY-MM-DD HH:mm:ss"),
                        end: moment(end).format("YYYY-MM-DD HH:mm:ss"),
                        course: '{{original.pk}}',
                    },
                });
                location.reload();
                //$('#calendar').fullCalendar('unselect');
            }
        },
        eventResize: function(event, delta, revertFunc) {
            console.log(event);
            if (!confirm("¿Esta seguro que desea mantener sus cambios?")) {
                revertFunc();
            }else {
                $.ajax({
                    url: '/cp/eventos/',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        pk: event.id,
                        start: moment(event.start).format("YYYY-MM-DD HH:mm:ss"),
                        end: moment(event.end).format("YYYY-MM-DD HH:mm:ss"),
                    },
                })
                .done(function(data) {
                    console.log(data);
                })
                .fail(function() {
                    revertFunc();
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
            }
        },
        events: function(start, end, timezone, callback) {
            $.ajax({
                    url: '/cp/eventos/',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        id: '{{ original.pk }}',
                    },
                })
                .done(function(dat) {
                    callback(dat);
                })
                .fail(function() {
                    alert("ocurrió un problema al cargar los registros");
                })
                .always(function() {
                    console.log("complete");
                });

        },
        viewRender: function(currentView) {
            var minDate = moment().subtract(1, 'weeks'),
                maxDate = moment().add(2, 'weeks');
            if (minDate >= currentView.start && minDate <= currentView.end) {
                $(".fc-prev-button").prop('disabled', true);
                $(".fc-prev-button").addClass('fc-state-disabled');
            } else {
                $(".fc-prev-button").removeClass('fc-state-disabled');
                $(".fc-prev-button").prop('disabled', false);
            }
            if (maxDate >= currentView.start && maxDate <= currentView.end) {
                $(".fc-next-button").prop('disabled', true);
                $(".fc-next-button").addClass('fc-state-disabled');
            } else {
                $(".fc-next-button").removeClass('fc-state-disabled');
                $(".fc-next-button").prop('disabled', false);
            }
        },
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>{% endblock %} 

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; Calendario por curso
</div>
{% endblock %}
{% block content %}
<div id="content-main">
    <div id='calendar'></div>
</div>
{% endblock %}
